-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: googlerealtor
-- ------------------------------------------------------
-- Server version	11.7.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `durham-county`
--

DROP TABLE IF EXISTS `durham-county`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `durham-county` (
  `PROPERTY TYPE` text DEFAULT NULL,
  `ADDRESS` text DEFAULT NULL,
  `CITY` text DEFAULT NULL,
  `STATE OR PROVINCE` text DEFAULT NULL,
  `ZIP OR POSTAL CODE` bigint(20) DEFAULT NULL,
  `PRICE` bigint(20) DEFAULT NULL,
  `BEDS` bigint(20) DEFAULT NULL,
  `BATHS` double DEFAULT NULL,
  `LOCATION` text DEFAULT NULL,
  `SQUARE FEET` bigint(20) DEFAULT NULL,
  `LOT SIZE` bigint(20) DEFAULT NULL,
  `YEAR BUILT` bigint(20) DEFAULT NULL,
  `DAYS ON MARKET` bigint(20) DEFAULT NULL,
  `DOLLAR PER SQUARE FEET` bigint(20) DEFAULT NULL,
  `HOA PER MONTH` bigint(20) DEFAULT NULL,
  `URL` text DEFAULT NULL,
  `LATITUDE` float DEFAULT NULL,
  `LONGITUDE` float DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `durham-county`
--

LOCK TABLES `durham-county` WRITE;
/*!40000 ALTER TABLE `durham-county` DISABLE KEYS */;
/*!40000 ALTER TABLE `durham-county` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-24 14:18:58
